{% extends 'base.html.twig' %}

{% block title %}les films a noter
{% endblock %}

{% block body %}

	<h1 class="display-5 fw-bold lh-1 mb-5">Les films a noter</h1>
	<section class='row d-flex justify-content-center'>
		{% for result in movies %}
			{% set movie = result[0] %}
			{% set avgRating = result.avgRating %}
			{% include "partials/movie/_movie-card.html.twig" with { 'movie': movie, 'avgRating': avgRating } %}
		{% endfor %}
	</section>


{% endblock %}
