{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<section class='row d-flex justify-content-center'>
    {% for movie in movies %}
    {% include "partials/movie/_movie-card.html.twig" %}
    {% endfor %}
</section>

{% endblock %}