<article class='colcard-item p-5'>
	<div class="card w-100">
		<div class="card-body">
			<h5 class="card-title">{{reviewByMovie.user.nickname}}</h5>
			<p class="card-text">Note:
				{{reviewByMovie.rate }}</p>
			<p class="card-text">Avis:
				{{reviewByMovie.review}}</p>
		</div>
	</div>
</article>
