<article class='col-md-4 my-2 movie-block'>
    <div class="card">
        <img src="{{vich_uploader_asset(movie, 'imageFile')}}" class="card-img-top img-card" alt="affiche du film.">
        <div class="card-body">
            <h5 class="card-title">{{movie.name|capitalize}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</article>