$primary: #212D40;
$primaryLight: #364156;
$secondary: #7D4E57;
$orange: #D66853;
$black: #11151C;
$white: #ffffff;


@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');

$fontTitle : 'Bebas Neue',
sans-serif;
$fontText : 'Inter',
sans-serif;

