// banniere home

.img-banniere {
    width: 130%;
}

// films



.card-item {
    width: 13rem;

    font-family: $fontText;
    font-size: 0.7rem;

    img {
        height: 12rem;
    }

    .movie-block {
        max-width: 20rem;
    }

    .card-title {
        font-family: $fontTitle;
    }

    .card-body {
        padding: 0.8rem;

        a {
            font-size: 0.6rem;
            padding: 0.2rem 0.5rem;
        }
    }
}



// *********** show movie **************

.show-movie-title {
    font-family: $fontTitle!important;
    color: $orange!important;
}

.show-movie-date {
    font-family: $fontText;
    font-size: 1rem;
    color: $primaryLight;
}

.show-movie-director {
    font-family: $fontTitle;
    font-size: 0.8rem;
    color: $primaryLight;
}

.show-movie-duration {
    font-family: $fontText;
    font-size: 0.8rem;
    color: $primaryLight;
}


// *********** login register **************

#inputPassword {
    margin-bottom: 2rem;
}
